.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
}

h1 {
  font-size: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.student {
  margin-bottom: 20px;
  border-bottom:1px solid black;
  padding-bottom: 20px;
}

.student:nth-child(2) {
  color: blue;
}